@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<p>&gt;&gt; TROY TODO</p>
<p>An interactive stage show that combines sci-fi, soap opera, and musical theatre to tell a compelling story, examine interesting and diverse characters, and to explore the galaxy above all our homes. This will be an immersive piece of theatre with the audience being treated as passengers aboard the New Zealand space-cruise-ship, Yesterday.</p>
<p>This is the first stage show written, devised, produced, and performed by SPLITelevision Productions</p>
<h2>Contact Us</h2>
<p>Contact us through one of our many social media links, available at the top of every page, or within the hamburger menu if you are on mobile</p>