@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>


<h2>Check out our other sites:</h2>
<p>Find us on Facebook.</p>
<br />
<p>Follow us on YouTube.</p>
<br />
<p>Like us on Instagram.</p>
<br />
<p>Send us an email with any questions.</p>