@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Whoops</h1>
<h2 class="text-danger">Looks like we encountered a fault during take-off</h2>
<p>If you keep running into this problem, please contact our <a href="mailto:yesterdayinspace@gmail.com?subject=Error Report">engineer</a> and let them know!</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
