@page
@model GalleryModel
@{
    ViewData["Title"] = "Gallery";
}

<h2>@ViewData["Title"]</h2>
<p>&gt;&gt; TROY TODO</p>
<p>The photos below are pulled from our Instagram, be sure to follow us at <a href="http://instragram.com/yesterdayinspace">@@yesterdayinspace</a> for regular updates!</a></p>

<!-- SnapWidget -->
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<iframe src="https://snapwidget.com/embed/635062" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
