@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    ViewData["Class"] = "home";
}

<div class="yis-promo">
	<img src="/images/yis_planet_logo_white.svg" title="Yesterday, In Space" />
	<h1>Gryphon Theatre</h1>
	<h2>7:30 pm 18th-20th March 2019</h2>
	<p>Come aboard and join the crew of Yesterday for a journey... in space! Witness the comedy, drama, and relationships of Sci-Fi meeting Soap Opera in this brand-new interactive stage show! Featuring original music and songs from the members of SPLITelevision Productions, this show is taking off!</p>
</div>
<p>&gt;&gt; TROY TODO</p>
<div class="row">
    <div class="col-md-4">
        <h2>Promotions</h2>
        <p>
            TBC - Promotion Space
        </p>
    </div>
    <div class="col-md-4">
        <h2>Top Posts</h2>
        <p>
            TBC - Top Posts
        </p>
    </div>
    <div class="col-md-4">
        <h2>Notices</h2>
        <p>
            TBC - Notices & Calendar
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <h2>Ticket Details</h2>
        <p>
            TBC - Booking information
        </p>
    </div>
</div>