@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* Main logo box for the website. Scaled to the center of the screen. *@
<div class="tw-display-container tw-animate-opacity">
    <img src="~/images/ysis_banner_logo.png" alt="logo" style="width:100%; max-height:500px;" >
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Promotions</h2>
        <p>
            This is the promotion space.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Top Posts</h2>
        <p>
            This is the top posting space.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Notices</h2>
        <p>
            This is the notice board, and calendar.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <h2>Ticket Details</h2>
        <p>
            This is where the ticket details when they are available will be placed.
        </p>
    </div>
</div>