@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    ViewData["Class"] = "home newhome";
}

<div id="YISHome-Presents" alt="SPLITelevision Presents:"></div>
<div id="YISHome-Logo" alt="'Yesterday, In Space'"></div>
<div id="YISHome-Subtitle"><h2>An original<br>Sci-Fi / Soap Opera / Musical</h2></div>
<div id="YISHome-Ship"></div>
<div id="YISHome-Ship-Rev"></div>
<div id="YISHome-FakeShip"></div>
<div id="YISHome-Deets">
	<h2>Gryphon Theatre</h2>
	<h1>18th-20th March 7:30 PM</h1>
	<h2>Tickets: $10 ($7 Concession)</h2>
	<button type="button" class="btn btn-primary btn-lg" onclick="window.location='https://fringe.co.nz/show/32124'">Book Now ›</button>
</div>
<div id="YISHome-Desc"><p>Come aboard and join the crew of Yesterday for a journey... in space! Witness the comedy, drama, and relationships of Sci-Fi meeting Soap Opera in this brand-new immersive stage show! Featuring original songs and music from the members of SPLITelevision Productions who have collaborated to create 'Yesterday, In Space' as part of the NZ Fringe Festival 2019. This show is READY to take off!</p></div>