@page
@model LaunchedModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Whoops</h1>
<h2 class="text-danger">The <i>Yesterday</i> has already left Aotearoa!</h2>
<p>Looks like you just missed this departure, better luck tomorrow!</p>
