/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    color: rgb(56,32,70);
}

/* Font Includes */

/* Comic Jens - a free font that we'll use until "In Space" is finished. Will probably use it for fallback if we're missing glyphs */
@font-face {
    font-family: "Comic Jens";
    src: url("/fonts/comic-jens/ComicJensFreePro-Regular.ttf") format("truetype");
}

/* In Space - Our font designed by Louise */
@font-face {
    font-family: "In Space";
    src: url("/fonts/in-space/in-space.ttf") format("truetype");
}

@font-face {
    font-family: "In Space";
    font-weight: bold;
    src: url("/fonts/in-space/in-space-bold.ttf") format("truetype");
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Change the colour of the navbar to a dulled version of our accent colour */
.navbar {
    background: rgb(46, 18, 61);
}

/* Make the links actually white and adjust their opacity and font */
.navbar-inverse .navbar-nav > li > a {
    color: white;
    opacity: 0.7;
}

    /* Make the links opaque when hovered */
    .navbar-inverse .navbar-nav > li > a:hover {
        opacity: 1;
    }

/* Change heading and navigation fonts to "In Space", with fallbacks */
h1, h2, .navbar-inverse .navbar-nav > li > a, .yis-name b {
    font-family: "In Space", "Comic Jens", "Comic Sans MS", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

h1, h2, .yis-name b {
    font-weight: bold;
    text-shadow: 1px 0 0 currentColor;
}

b {
    letter-spacing: 1px;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 1.6em;
}

h2.yis-cchead {
    padding-top: 10px;
    text-align: center;
}

/* YIS Header */
.yis-header {
    height: 250px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1035;
    background-image: url(/images/yis_background.jpg);
    background-color: rgb(46, 18, 61);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body.home .yis-header {
	display: none;
}

    .yis-header .yis-logo {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 200px;
        background-image: url(/images/yis_planet_logo_white.svg);
        background-size: auto 120%;
        background-position: center;
        background-repeat: no-repeat;
    }

    /* Make the navbar sit at the bottom of the header */
    .yis-header .navbar {
        position: absolute;
        top: 200px;
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.95));
    }

    /* Resize and add shadows to the links */
    .yis-header .navbar-inverse .navbar-nav > li > a {
        font-weight: 500;
        text-shadow: 0px 0px 10px black;
        font-size: 15px;
    }

/* Change the toggle button colours */
.navbar-inverse .navbar-toggle {
    background-color: transparent;
    border-color: rgba(255,255,255,0.7);
}

    .navbar-inverse .navbar-toggle:hover {
        background-color: rgba(255,255,255,0.1);
    }

    .navbar-inverse .navbar-toggle:focus {
        background-color: rgb(255,255,255);
    }

        .navbar-inverse .navbar-toggle:focus .icon-bar {
            background-color: rgb(46,18,61);
        }

/* Remove the left padding from the navbar to make it flush with the content */
.yis-header .container {
    padding-left: 0;
}

/* Make the home link... nicer */
.navbar-fixed-top .navbar-brand {
    background-image: url(/images/yis_nav.svg);
    background-position: center;
    background-size: auto 80%;
    background-repeat: no-repeat;
    width: 90px;
    opacity: 0.7;
}

    .navbar-fixed-top .navbar-brand:hover {
        opacity: 1;
    }

/* And actual links while we're at it */
a {
    color: rgb(66,2,100);
}

    a:hover {
        color: rgba(66,2,100,0.75);
    }

/* Add a margin to the top of the content to account for the banner */
.body-content {
    margin-top: 225px;
}

.home .body-content {
	margin-top: 0;
}

.yis-promo {
	text-align: center;
	width: calc(100% + 30px);
	box-sizing: border-box;
	height: auto;
	margin-left: -15px;
	margin-right: -15px;
	padding: 15px;
	background-image: url(/images/yis_background.jpg);
	background-color: rgb(46, 18, 61);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	text-shadow: 0 0 10px black;
	-webkit-text-stroke: 0.5px;
	-webkit-text-stroke-color: rgba(66,2,100,0.29);
    border-radius: 0 0 10px 10px;
}

.yis-promo img {
	width: 320px;
	height: auto;
}

.yis-promo p {
	font-size: 20px;
	background: rgba(66,2,100,0.29);
	border-radius: 5px;
	padding: 15px;
}

footer {
	height: 155px;
	width: 100%;
	text-align: center;
	background:
		url(/images/yis_foot_stars.svg) left bottom no-repeat,
		url(/images/yis_foot_planet.svg) right bottom no-repeat;
	background-size: auto 125px;
}

.footer-third {
	width: calc(100% / 3);
	height: 125px;
	float: left;
}

.footer-third img {
	height: 60px;
	margin-top: 33px;
	width: auto;
}

.footer-third:nth-child(3) img {
	height: 115px;
	margin-top: 5px;
}

.footer-third:nth-child(2) img {
	height: 70px;
	margin-top: 28px;
}

.yis-social {
	height: 50px;
	width: 50px;
	float: right;
    background-size: 18px auto !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    opacity: 0.7;
}

.yis-social:hover {
    opacity: 1;
    cursor: pointer;
}

    .yis-social a {
        width: 50px;
        height: 50px;
        display: block;
    }

    .yis-yt {
        background-image: url(/images/social_youtube.svg);
        background-size: auto 16px !important;
    }

.yis-ig {
    background-image: url(/images/social_instagram.svg);
}

.yis-fb {
    background-image: url(/images/social_facebook.svg);
}

.yis-gm {
    background-image: url(/images/social_mail.svg);
}

.yis-social.yis-gm {
    margin-right: -15px;
}

.yis-circlesect ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.yis-circlesect {
    text-align: center;
    width: calc(100% + 30px);
    margin-left: -15px;
}

    .yis-circlesect li {
        display: inline-block;
        margin: 10px;
        list-style: none;
        padding: 0;
        width: 160px;
        vertical-align: top
    }

        .yis-circlesect li b {
            font-size: 12px;
        }

.yis-profile {
    display: inline-block;
    text-align: initial;
    width: 100px;
    height: 100px;
    background-image: url(/images/yis_background.jpg);
    background-size: auto 200%;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-bottom: 10px;
}

    .yis-profile img {
        width: 90%;
        height: 90%;
        margin-top: 5%;
        margin-left: 5%;
        border-radius: 50%;
        box-sizing: border-box;
        border: 1px solid rgba(66,2,100,0.29);
        background-color: white;
    }

    .yis-profile:hover img {
        width: 96%;
        height: 96%;
        margin-top: 2%;
        margin-left: 2%;
        border-radius: 50%;
	}
	
#YIS-BioPane {
	display: none;
	position: fixed;
    background: #ececec;
    left: calc(50% - (758px/2));
    top: calc(50% - (512px/2));
    width: 758px;
    height: 512px;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    box-sizing: border-box;
	padding: 15px;
	z-index: 1036;
}

.yis-bioimg {
	width: 320px;
    height: 100%;
	text-align: center;
	float: left;
}

.yis-bioimg .yis-profile {
	width: 240px;
	height: 240px;
	pointer-events: none;
	margin-bottom: 20px;
}

.yis-bioimg .yis-name {
	font-size: 1.2em;
}

#YIS-BioInfo {
	width: calc(100% - 335px);
	height: calc(100% - 30px);
	box-sizing: border-box;
	float: left;
	margin: 15px 0px 15px 15px;
	overflow-y: scroll;
	text-align: justify;
}

.yis-close {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 10px;
	right: 15px;
	background-image: url(/images/diag_close.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.7;
}

.yis-close:hover {
	opacity: 1;
}

    @media (max-width: 540px) {
        .yis-promo img {
            width: 290px;
        }

        .footer-third {
            width: 100%;
            float: initial;
        }

        footer {
            height: calc((125px * 3) + 30px);
            background: url(/images/yis_foot_stars.svg) -50px bottom no-repeat, url(/images/yis_foot_planet.svg) calc(100% + 50px) bottom no-repeat;
            background-size: auto 125px;
        }
    }

    @media (min-width: 768px) {
        .footer-third {
            width: calc(750px / 3);
        }

            .footer-third:first-of-type {
                margin-left: calc((100% - 750px) / 2);
            }
    }

    @media (min-width: 992px) {
        .footer-third {
            width: calc(970px / 3);
        }

            .footer-third:first-of-type {
                margin-left: calc((100% - 970px) / 2);
            }
    }

    @media (min-width: 1200px) {
        .footer-third {
            width: calc(1170px / 3);
        }

            .footer-third:first-of-type {
                margin-left: calc((100% - 1170px) / 2);
            }
    }
    /* Hide/rearrange for smaller screens */
    @media screen and (max-width: 767px) {
        /* Hide captions */
        .carousel-caption {
            display: none;
        }

        /* Move YIS Header down and hide inline nav. Shorten to 200px, and move under nav */
        .yis-header {
            top: 62px;
            height: 200px;
            z-index: initial;
            /* Disable pointer events to avoid mis-tapping/clicking */
            pointer-events: none;
        }

            .yis-header .navbar {
                display: none;
            }

        /* Make the home/brand link the same height as the navbar
       so it isn't awkwardly floating at the top */
        .navbar-brand {
            height: 62px;
            margin-left: 5px;
		}
		
		#YIS-BioPane {
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 0px;
			box-shadow: none;
			overflow-y: scroll;
			pointer-events: all;
		}

		.yis-bioimg {
			width: 100%;
    		height: auto;
    		padding-bottom: 20px;
		}

		#YIS-BioInfo {
			width: 100%;
    		height: auto;
    		overflow: initial;
    		margin: 0;
		}
    }
